/*unscii font from github*/
@font-face {
    font-family: 'tic80';
    src: url('https://raw.githubusercontent.com/borbware/webfonts/master/tic-80/tic-80_wide_font-webfont.eot');
    src: url('https://raw.githubusercontent.com/borbware/webfonts/master/tic-80/tic-80_wide_font-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://raw.githubusercontent.com/borbware/webfonts/master/tic-80/tic-80_wide_font-webfont.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/borbware/webfonts/master/tic-80/tic-80_wide_font-webfont.woff') format('woff'),
         url('https://raw.githubusercontent.com/borbware/webfonts/master/tic-80/tic-80_wide_font-webfont.ttf') format('truetype'),
         url('https://raw.githubusercontent.com/borbware/webfonts/master/tic-80/tic-80_wide_font-webfont.svg#tic-80_wide_fontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*'Support this game' button*/
.view_game_page.view_html_game_page.ready.donate {
    margin: 40px;
}

/*body*/
.columns .left_col.column .formatted_description {
    font-family:tic80, Helvetica, sans-serif !important;
    font-size:20px !important;
    font-smooth: never !important;
    -webkit-font-smoothing : none !important;
}

/*game title*/
.header {
    font-family:tic80, Helvetica, sans-serif !important;
    font-size:40px !important;
    font-smooth: never !important;
    text-align: center;
    -webkit-font-smoothing : none !important;  
}

/*More information*/
.toggle_info_btn {
    font-family:tic80, Helvetica, sans-serif !important;
    font-size:20px !important;
    font-smooth: never !important;
    text-align: center;
    -webkit-font-smoothing : none !important;  	
}

/*More information opened*/
.game_info_panel_widget {
    font-family:tic80, Helvetica, sans-serif !important;
    font-size:20px !important;
    font-smooth: never !important;
    text-align: center;
    -webkit-font-smoothing : none !important;	
    letter-spacing: 1px;
}

/*More information opened, table spacing*/
.game_info_panel_widget td {
    padding: 6px 6px;
    text-align: left;
}

/*------------------------
        DOWNLOADS
------------------------*/
/*A downloadable game
.header_buy_row {
    visibility: hidden;
    height: 0px;
}*/

/* Downloads title */
#download {
    visibility: hidden;
    height: 00px;
}

.uploads {
    font-family:tic80, Helvetica, sans-serif !important;
    font-size:16px !important;
    font-smooth: never !important;
    -webkit-font-smoothing : none !important;  
}

.button_message {
    font-family:tic80, Helvetica, sans-serif !important;
    font-size:16px !important;
    font-smooth: never !important;
    -webkit-font-smoothing : none !important;      
}
/*------------------------
     COMMENT SECTION
------------------------*/

/* Comments title */
/* you might need to change the id numbers to suit your game*/
/*#game_comments_react_widget_19933_Game-Comments_94759 {
    font-family:tic80, Helvetica, sans-serif !important;
    font-size:20px !important;
    font-smooth: never !important;
    -webkit-font-smoothing : none !important;  
}*/

/* Post comment, I guess other buttons too. */
.button {
	font-family:tic80, Helvetica, sans-serif !important;
    font-size:20px !important;
    font-smooth: never !important;
    -webkit-font-smoothing : none !important;  
}

.buttons .button {
    font-family: 'Anonymous Pro', sans-serif !important;
}

.inner_column .button {
    line-height: 0px;
    padding: 25px;
}

.inner_column a:link {
  /*text-decoration: underline; none*/
  color: #deeed6;
  font-weight: normal;
}


